{% extends "layout.html" %}

{% block title %}Meus Chamados{% endblock %}

{% block content %}
<div class="header">
    <h1>Meus Chamados Registrados</h1>
</div>

<div class="chamados-container">
    {% if chamados %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Município</th>
                    <th>Problema</th>
                    <th>Equipamento (IMEI)</th>
                    <th>Status</th>
                    <th class="col-solucao">Solução</th>
                    <th class="col-foto">Foto</th>
                    <th class="col-acao">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for chamado in chamados %}
                <tr>
                  <form action="{{ url_for('update_chamado', chamado_id=chamado.id) }}" method="post">
                    <td>#{{ chamado.id }}</td>
                    <td>{{ chamado.timestamp.split(' ')[0].split('-') | reverse | join('/') }}</td>
                    <td>{{ chamado.municipio }}</td>
                    <td>{{ chamado.tipo_problema_nome }}</td>
                    <td>{{ chamado.smartphone_imei }}</td>
                    <td>
                        <select name="status">
                            {% for option in status_options %}
                                <option value="{{ option.id }}" {% if option.id == chamado.status_id %}selected{% endif %}>
                                    {{ option.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="col-solucao">
                        <textarea name="solucao" rows="3" placeholder="Digite a solução aqui...">{{ chamado.solucao or '' }}</textarea>
                    </td>
                    <td class="col-foto">
                        {% if chamado.foto %}
                            <a href="{{ url_for('display_image', filename=chamado.foto) }}" target="_blank">
                                <img src="{{ url_for('display_image', filename=chamado.foto) }}" alt="Foto do chamado" width="100">
                            </a>
                        {% else %}
                            Sem anexo
                        {% endif %}
                    </td>
                    <td class="col-acao">
                        <button type="submit">Salvar</button>
                    </td>
                  </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Você ainda não registrou nenhum chamado.</p>
    {% endif %}
</div>
{% endblock %}